<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <style>
            .icon-btn {
                background-color: transparent;
                border: none;
                color: white;
                font-size: 1.2rem;
                cursor: pointer;
            }

            .icon-btn:hover {
                color: #ddd;
                /* Opcional: color al pasar el mouse */
            }
        </style>
</head>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
      
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <%- include('partials/sidebar') %>
        </nav>

        <div class="container-fluid page-body-wrapper">
            <nav class="navbar p-0 fixed-top d-flex flex-row">
                <%- include('partials/topbar') %>
            </nav>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h3 class="card-title">Clases</h3>
                                    <button class="btn btn-outline-secondary btn-fw" data-toggle="modal" data-target="#addModal">
                                        <i class="fas fa-plus"></i> Agregar
                                    </button>
                                </div>
                                <div class="table-responsive">
                                    <table id="miTabla" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>Descripción</th>
                                                <th>Tipo de clase</th>
                                                <th>Horario</th>
                                                <th>Hora de inicio</th>
                                                <th>Hora de fin</th>
                                                <th>Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if (Array.isArray(data) && data.length > 0) { %>
                                                <% data.forEach(clase => { %>
                                                    <tr>
                                                        <td><%= clase.id_clase %></td>
                                                        <td><%= clase.nombre_clase %></td>
                                                        <td><%= clase.descripcion %></td>
                                                        <td><%= clase.tipo_clase %></td>
                                                        <td><%= clase.dias_clase %></td>
                                                        <td><%= clase.inicio_clase %></td>
                                                        <td><%= clase.final_clase %></td>
                                                        <td>
                                                            <button type="button" class="icon-btn" data-toggle="modal" data-target="#editModal" data-id="<%= clase.id_clase %>" data-nombre="<%= clase.nombre_clase %>" data-descripcion="<%= clase.descripcion %>" data-tipo="<%= clase.tipo_clase %>" data-dias="<%= clase.dias_clase %>" data-inicio="<%= clase.inicio_clase %>" data-final="<%= clase.final_clase %>">
                                                                <i class="fas fa-edit"></i>
                                                            </button>
                                                            <button type="button" class="icon-btn" onclick="confirmarEliminacion(<%= clase.id_clase %>)">
                                                                <i class="fas fa-trash"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="8">No hay clases disponibles</td>
                                                </tr>
                                            <% } %>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal editar clase -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Editar Clase</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="forms-sample" id="editForm">
                            <input type="hidden" name="id_clase" id="editIdClase"> <!-- Campo oculto para almacenar el ID de la clase -->
                            
                            <div class="form-group row">
                                <label for="editNombreClase" class="col-sm-3 col-form-label">Nombre de la Clase</label>
                                <div class="col-sm-9">
                                    <input type="text" name="nombre_clase" class="form-control" id="editNombreClase" placeholder="Nombre" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="editDescripcionClase" class="col-sm-3 col-form-label">Descripción</label>
                                <div class="col-sm-9">
                                    <textarea name="descripcion" class="form-control" id="editDescripcionClase" placeholder="Descripción" required></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="editTipoClase" class="col-sm-3 col-form-label">Tipo de Clase</label>
                                <div class="col-sm-9">
                                    <input type="text" name="tipo_clase" class="form-control" id="editTipoClase" placeholder="Tipo de clase" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="editHorarioClase" class="col-sm-3 col-form-label">Horario</label>
                                <div class="col-sm-9">
                                    <select name="horario_clase" class="form-control" id="editHorarioClase" required>
                                        <option value="1">Lunes a Viernes</option>
                                    </select>
                                </div>
                            </div>                            
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-dark mr-2" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-dark">Actualizar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

<script>
    // Manejar el evento de mostrar el modal de edición
    $('#miTabla').on('click', '.icon-btn[data-toggle="modal"]', function() {
        const idClase = $(this).data('id');
        const nombreClase = $(this).data('nombre');
        const descripcion = $(this).data('descripcion');
        const tipoClase = $(this).data('tipo');
        const horarioClase = $(this).data('horario'); // Cambiar de dias a horario
        const inicioClase = $(this).data('inicio');
        const finalClase = $(this).data('final');

        $('#editIdClase').val(idClase);
        $('#editNombreClase').val(nombreClase);
        $('#editDescripcionClase').val(descripcion);
        $('#editTipoClase').val(tipoClase);
        $('#editHorarioClase').val(horarioClase); // Actualizar a horario
        $('#editInicioClase').val(inicioClase);
        $('#editFinalClase').val(finalClase);

        $('#editModal').modal('show');
    });

    // Manejar el envío del formulario de edición
    $('#editForm').on('submit', function(event) {
        event.preventDefault(); // Evitar el envío tradicional del formulario

        const idClase = $('#editIdClase').val(); // Obtener el ID
        const formData = {
            nombre_clase: $('#editNombreClase').val(),
            descripcion: $('#editDescripcionClase').val(),
            tipo_clase: $('#editTipoClase').val(),
            horario_clase: $('#editHorarioClase').val(), // Actualizar a horario
            inicio_clase: $('#editInicioClase').val(),
            final_clase: $('#editFinalClase').val()
        };

        // Enviar la solicitud con fetch
        fetch(`/actualizar_clase/${idClase}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.reload(); // Recargar la página
            } else {
                alert('Error: ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error al actualizar la clase:', error);
            alert('Error interno del servidor');
        });
    });
    
</script>


                         <!-- Modal agregar clase -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Agregar Clase</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="forms-sample" method="post" action="/agregar_clase">
                    <div class="form-group row">
                        <label for="nombreClase" class="col-sm-3 col-form-label">Nombre de la Clase</label>
                        <div class="col-sm-9">
                            <input type="text" name="nombre_clase" class="form-control" id="nombreClase" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="descripcionClase" class="col-sm-3 col-form-label">Descripción</label>
                        <div class="col-sm-9">
                            <textarea name="descripcion" class="form-control" id="descripcionClase" placeholder="Descripción"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="tipoClase" class="col-sm-3 col-form-label">Tipo de Clase</label>
                        <div class="col-sm-9">
                            <input type="text" name="tipo_clase" class="form-control" id="tipoClase" placeholder="Tipo de clase">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="idHorario" class="col-sm-3 col-form-label">ID Horario</label>
                        <div class="col-sm-9">
                            <select name="id_horario" class="form-control" id="idHorario" required>
                                <option value="1">Lunes a Viernes</option>
                            </select>
                        </div>
                    </div>                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark mr-2" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-dark">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
                    <script>
                        // Manejar el envío del formulario de agregar clase
                        $('#addForm').on('submit', function(event) {
                            event.preventDefault(); // Evitar el envío tradicional del formulario

                            const formData = {
                                nombre_clase: $('#nombreClase').val(),
                                descripcion: $('#descripcionClase').val(),
                                tipo_clase: $('#tipoClase').val(),
                                dias_clase: $('#diasClase').val(),
                                inicio_clase: $('#inicioClase').val(),
                                final_clase: $('#finalClase').val()
                            };

                            // Enviar la solicitud con fetch
                            fetch('/agregar_clase', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(formData)
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    window.location.reload(); // Recargar la página
                                } else {
                                    alert('Error: ' + data.message);
                                }
                            })
                            .catch(error => {
                                console.error('Error al agregar la clase:', error);
                                alert('Error interno del servidor');
                            });
                        });

                        // Función para confirmar la eliminación
                        function confirmarEliminacion(id) {
                            if (confirm("¿Estás seguro de que deseas eliminar esta clase?")) {
                                fetch(`http://localhost:4000/api/eliminar_clase/${id}`, {
                                    method: 'DELETE'
                                })
                                .then(response => {
                                    if (!response.ok) {
                                        // Si el servidor responde con un estado de error (4xx o 5xx), manejarlo aquí
                                        throw new Error(`Error HTTP: ${response.status}`);
                                    }
                                    return response.json();  // Parsear la respuesta solo si no hubo errores
                                })
                                .then(data => {
                                    if (data.success) {
                                        window.location.reload();  // Recargar la página si la eliminación fue exitosa
                                    } else {
                                        // Si `data.success` es false, mostrar un mensaje de error
                                        alert('Error: ' + data.message);
                                    }
                                })
                                .catch(error => {
                                    // Captura de errores, ya sea en el `fetch` o en el parsing de la respuesta
                                    console.error('Error al eliminar la clase:', error);
                                    alert('Error interno del servidor: ' + error.message);
                                });
                            }
                        }
                                    
                    </script>
                </div>
            </div>
        </div>
    </div>

                            <!-- content-wrapper ends -->
                            <!-- partial:../../partials/_footer.html -->
                            <footer class="footer">
                                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                                    <span
                                        class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright
                                        © bootstrapdash.com 2020</span>
                                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a
                                            href="https://www.bootstrapdash.com/bootstrap-admin-template/"
                                            target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
                                </div>
                            </footer>
                            <!-- partial -->
                        </div>
                        <!-- main-panel ends -->
                    </div>
                    <!-- page-body-wrapper ends -->
            </div>
            <!-- container-scroller -->
            <!-- plugins:js -->
            <%- include('partials/script') %>
          

</body>

</html>