<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catálogo</title>
    <link rel="stylesheet" href="css/catalogo.css" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />

    <style>
      .button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: rgb(0, 0, 0);
        background-color: #ffffff;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
      }

      .button:hover {
        background-color: #c62424;
      }
    </style>
  </head>
  <body>
    <header>
      <a href="/" class="back-button">
        <i class="fas fa-arrow-left"></i> Volver
      </a>
    </header>

    <div class="container-items">
      <% if (productos && productos.length > 0) { %> 
        <% productos.forEach(producto => { %>
          <div class="item <%= producto.nombre_producto.toLowerCase() %>">
            <figure>
              <img src="<%= producto.imagen_producto %>" alt="<%= producto.nombre_producto %>" />
            </figure>
            <div class="info-product">
              <h2><%= producto.nombre_producto %></h2>
              <p><%= producto.descripcion %></p>
              <a href="<%= producto.link%>" class="button">Ir a la tienda</a>
            </div>
          </div>
        <% }); %>
      <% } else { %>
        <p>No hay productos disponibles en este momento.</p>
      <% } %>
    </div>

    <script>
      document.getElementById('filter-category').addEventListener('change', function () {
        const selectedCategory = this.value;
        const items = document.querySelectorAll('.item');

        items.forEach((item) => {
          if (selectedCategory === 'all') {
            item.style.display = 'block'; // Muestra todos los productos
          } else if (item.classList.contains(selectedCategory)) {
            item.style.display = 'block'; // Muestra productos de la categoría seleccionada
          } else {
            item.style.display = 'none'; // Oculta productos de otras categorías
          }
        });
      });
    </script>
  </body>
</html>
